<launch>
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find localization)/rviz/d435i_and_t265.rviz" output="screen"/>

    <include file="$(find realsense2_camera)/launch/ME206A/rs_d435i_and_t265.launch">
        <arg name="camera2_color_width"               default="640"/> <!-- 1280 -->
        <arg name="camera2_color_height"              default="360"/> <!-- 720 -->
        <arg name="camera2_color_fps"                 default="6"/> <!-- 30 -->
    </include>

    <node pkg="localization" type="localization_node" name="localization_node" output="screen"/>

</launch>