<launch>

<!--    <arg name="topic" default="/camera/depth/color/points"/>-->
    <arg name="topic" default="/camera/depth/color/points /camera/color/image_raw"/>

    <arg name="bag" default="/media/warren/Data/synchronize/pool1121_demo.bag"/><!-- D盘 -->

    <node pkg="rosbag" type="play" name="rosbag" args="--pause --clock $(arg bag) -r 1 -s 0 --topic $(arg topic)"/>

    <include file="$(find localization)/launch/localization/localization.launch"/>

</launch>