<launch>

<!--    <arg name="topic" default="/camera/depth/color/points"/> &lt;!&ndash; 彩色点云 &ndash;&gt;-->
    <arg name="topic" default="/camera/depth/color/points /camera/color/image_raw"/> <!-- 彩色点云及视频 -->

    <!--******************周四晚上手推船前进debug*************************-->
<!--    <arg name="bag" default="/media/warren/Data/synchronize/pool1121_demo.bag"/>-->
    <!--full bag-->
<!--    <node pkg="rosbag" type="play" name="rosbag" args="&#45;&#45;pause &#45;&#45;clock $(arg bag) -r 1 -s 12 &#45;&#45;topic $(arg topic)"/>-->
    <!--dock on the right-->
<!--    <node pkg="rosbag" type="play" name="rosbag" args="&#45;&#45;pause &#45;&#45;clock $(arg bag) -r 1 -s 22 &#45;&#45;topic $(arg topic)"/>-->
    <!--dock on the left-->
<!--    <node pkg="rosbag" type="play" name="rosbag" args="&#45;&#45;pause &#45;&#45;clock $(arg bag) -r 1 -s 35 &#45;&#45;topic $(arg topic)"/>-->

    <!--******************1203调试成功，overshoot较大*************************-->
<!--    <arg name="bag" default="/media/warren/Data/synchronize/USVparamAdj/1203/1203_1.bag"/>-->
<!--    <arg name="bag" default="/media/warren/Data/synchronize/USVparamAdj/1203/1203_3.bag"/>-->
<!--    <arg name="bag" default="/media/warren/Data/synchronize/USVparamAdj/1203/1203_4.bag"/>-->


    <!--******************1205调试成功*************************-->
<!--    <arg name="bag" default="/media/warren/Data/synchronize/USVparamAdj/1205/1205_awesome_left.bag"/>-->
<!--    <arg name="bag" default="/media/warren/Data/synchronize/USVparamAdj/1205/1205_awesome_middle.bag"/>-->
    <arg name="bag" default="/media/warren/Data/synchronize/USVparamAdj/1205/1205_awesome_right.bag"/>
    <node pkg="rosbag" type="play" name="rosbag" args="--pause --clock $(arg bag) -r 1 -s 2 --topic $(arg topic)"/>

    <include file="$(find localization)/launch/USV/USV.launch"/>

</launch>