<launch>
    <include file="$(find realsense2_camera)/launch/ME206A/rs_d435i_and_t265.launch"/>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find localization)/rviz/d435i_and_t265.rviz" output="screen"/>

    <node pkg="localization" type="img_save_node" name="img_save_node" output="screen"/>

</launch>